$primary-color: #0083ff;
$red: red;
$excel-green: #31be7d;

$background: #dadada;
$selected: #f0f0f0;
$beige: #fffcf9;
$white: #ffffff;

$black-25: rgba(33, 33, 33, 0.25);
$black-50: rgba(33, 33, 33, 0.5);
$black-75: rgba(33, 33, 33, 0.75);
$black: rgb(33, 33, 33);
